'scopeName': 'htaccess'
'name': 'HTACCESS'
'fileTypes': [
  'htaccess'
]
'patterns': [
  {
    'include': '#comment'
  }
]
'repository':
  'comment':
    'begin': '#'
    'end': '\n'
    'name': 'comment.block.htaccess'
